<%- include('header') -%>
    <body>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti molestiae repudiandae iusto veritatis pariatur facilis voluptates alias ducimus placeat iste perferendis adipisci odit corporis sit natus, vitae laudantium, quisquam quidem.</p>
    </body>
<%- include('footer') -%>